#qrcode {
    position:absolute;
    right:5px;
    bottom:5px;
}

.printtest {
    position: fixed;
    width: 315px;
    height: 210px;
    padding-left: 5px;
    padding-top: 8px;
    margin: 0;
    background-color: red;
}
body{
    margin: 0;
    padding: 0;
}

.label{
    text-align: left;
    line-height: 0;
    padding: 0;
    margin: 0;
    font-size: 0.1%;

}

